.tooltipBtn {
  width: 100px;
  height: 50px;
  padding: 12px;
  margin: 12px;
  background-color: #33b249;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.tooltipBtn:hover {
  background-color: #258335;
}
.tooltipBtn .toolTip {
  opacity: 0;
  transition: opacity 1s;
}
.tooltipBtn:hover .toolTip {
  opacity: 1;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container {
  align-items: center;
  position: relative;
}
.toolTip {
  background-color: black;

  border-radius: 8px;
  padding: 10px;
  color: white;
  width: 200px;
  text-align: center;
  position: absolute;
}
.top {
  top: -100px;
  left: -50px;
}

.bottom {
  position: absolute;
  top: 100px;
  left: -50px;
}

.left {
  position: absolute;
  top: 10px;
  right: 150px;
}
.right {
  position: absolute;
  top: 10px;
  right: -250px;
}
